@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
/* LESS VARIABLES
-------------------------------------------------- */
/* GLOBAL STYLES
-------------------------------------------------- */
body {
  background-color: #ffffff;
  color: #4a4a4a;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42;
}
#wrapper {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  position: relative;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
}
h2.title span {
  font-weight: 300;
}
h3.title {
  font-size: 20px;
  padding-bottom: 26px;
  text-transform: uppercase;
}
h3.title span {
  font-weight: 300;
}
h4.title {
  padding-bottom: 26px;
  text-transform: uppercase;
}
h4.title span {
  font-weight: 300;
}
p {
  margin: 0 10px 10px 0;
}
a {
  color: #255a8a;
  text-decoration: none;
}
a:hover {
  color: #255a8a;
  text-decoration: none;
}
.btn {
  border-radius: 0;
  border: none;
  padding: 20px 48px;
  font-size: 16px;
}
.btn.btn-primary {
  background-color: #255a8a;
}
.btn b {
  font-weight: 600;
}
/* HEADER STYLES
-------------------------------------------------- */
header {
  position: relative;
  z-index: 1000;
}
header #top {
  background-color: #4a4a4a;
  color: white;
  margin: 0 auto;
  padding: 15px 0;
  position: relative;
  -webkit-transition: background 0.1s ease-in-out 0s;
          transition: background 0.1s ease-in-out 0s;
}
header #top .contact {
  padding-top: 2px;
}
header #top .contact address {
  display: inline-block;
  margin: 0;
  font-size: 12px;
  padding: 0 15px 0 5px;
}
header #top .contact a {
  color: white;
  -webkit-transition: all 0.1s ease-in-out 0s;
          transition: all 0.1s ease-in-out 0s;
}
header #top .contact a:hover {
  color: #6fa7d9;
}
header #top .follow span {
  font-size: 12px;
  padding-right: 6px;
  vertical-align: text-top;
}
header #top .follow a {
  color: white;
  font-size: 18px;
  padding: 0 8px;
  -webkit-transition: all 0.1s ease-in-out 0s;
          transition: all 0.1s ease-in-out 0s;
}
header #top .follow a:hover {
  color: #6fa7d9;
}
header .navbar-wrapper {
  background-color: white;
  color: #4a4a4a;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
  height: 108px;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  width: 100%;
  -webkit-transition: background 0.1s ease-in-out 0s;
          transition: background 0.1s ease-in-out 0s;
  -webkit-transition: height 0.5s ease-in-out;
          transition: height 0.5s ease-in-out;
}
header .navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
header .navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
header .navbar-wrapper .navbar .container {
  width: auto;
}
header .navbar-wrapper .navbar-toggle .icon-bar {
  color: #4a4a4a;
}
header .navbar-wrapper .navbar-brand {
  margin-top: 32px;
  padding: 0;
}
header .navbar-wrapper .navbar-brand img {
  max-height: 44px;
  -webkit-transition: max-height 0.5s ease-in-out;
          transition: max-height 0.5s ease-in-out;
}
header .navbar-wrapper .navbar-nav > li > a {
  text-transform: uppercase;
  color: #4a4a4a;
  font-size: 16px;
  padding: 39px 15px;
  line-height: 1.5;
  -webkit-transition: padding 0.5s ease-in-out;
          transition: padding 0.5s ease-in-out;
}
header .navbar-wrapper .navbar-nav li.active > a,
header .navbar-wrapper .navbar-nav li > a:hover,
header .navbar-wrapper .navbar-nav li > a:focus {
  background-color: transparent;
  border-bottom: 5px solid #255a8a;
  color: #255a8a;
}
header .navbar-wrapper .navbar-nav li > a > .caret {
  margin-top: -5px;
  -webkit-transition: -webkit-transform 0.2s ease-in;
          transition: transform 0.2s ease-in;
}
header .navbar-wrapper .navbar-nav li > a:hover > .caret {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  opacity: .9;
  margin-top: -6px;
}
header.sticky-padding {
  padding-bottom: 108px;
}
header.sticky-padding .navbar-wrapper {
  position: fixed;
  top: 0;
}
header.shrink-header .navbar-wrapper {
  height: 70px;
}
header.shrink-header .navbar-wrapper .navbar-brand {
  margin-top: 20px;
}
header.shrink-header .navbar-wrapper .navbar-brand img {
  max-height: 34px;
}
header.shrink-header .navbar-wrapper .navbar-nav > li > a {
  padding: 20px 15px;
}
/* MAIN CAROUSEL STYLING
-------------------------------------------------- */
#main-carousel {
  height: 500px;
}
#main-carousel .container {
  position: relative;
}
#main-carousel .carousel-caption {
  text-align: left;
  padding-right: 40px;
  left: 0px;
  right: auto;
  bottom: 50px;
}
#main-carousel .carousel-caption h2 {
  line-height: 40px;
  margin-bottom: 36px;
}
#main-carousel .carousel-caption h2 span {
  display: block;
}
#main-carousel .carousel-caption p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 36px;
}
#main-carousel .carousel-image {
  position: absolute;
  right: 15px;
  left: auto;
  bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 10;
}
#main-carousel .carousel-image .img-1 {
  position: absolute;
  right: 40px;
  bottom: 65px;
  z-index: 11;
}
#main-carousel .carousel-image .img-2 {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 12;
}
#main-carousel .item {
  height: 500px;
  background-color: #4a4a4a;
}
#main-carousel .carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
#main-carousel .carousel-control {
  display: none;
}
/* CTA STYLING
-------------------------------------------------- */
.cta {
  background-color: #f2f3f4;
  padding: 36px 0;
}
.cta h3 {
  margin-top: 0;
}
.cta p {
  font-size: 16px;
}
.cta .btn {
  margin-top: 14px;
}
/* MARKETING STYLING
-------------------------------------------------- */
.marketing {
  padding: 36px 0;
  text-align: center;
}
.marketing span {
  display: inline-block;
  min-height: 70px;
  color: #255a8a;
  position: relative;
}
.marketing span .fa-html5 {
  padding-top: 8px;
}
.marketing span .fa-mobile {
  position: absolute;
}
.marketing span .fa-mobile.icon-1 {
  left: -20px;
  top: 5px;
}
.marketing span .fa-mobile.icon-2 {
  left: -3px;
  top: 15px;
}
.marketing span .fa-edit {
  padding-top: 10px;
}
.marketing h3 {
  font-size: 20px;
}
.marketing p {
  line-height: 24px;
  margin-right: 10px;
  margin-left: 10px;
}
.marketing a {
  color: #255a8a;
  font-weight: 600;
  font-size: 14px;
}
.marketing a:hover {
  background-color: #f2f3f4;
}
/* MINI PORTFOLIO STYLING
-------------------------------------------------- */
.mini-portfolio {
  background-color: #f2f3f4;
  padding: 36px 0;
}
.mini-portfolio h3 a {
  color: #cacaca;
  -webkit-transition: all 0.1s ease-in-out 0s;
          transition: all 0.1s ease-in-out 0s;
}
.mini-portfolio h3 a:hover {
  color: #4a4a4a;
}
.mini-portfolio h4 {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}
.mini-portfolio img {
  margin-bottom: 20px;
}
.mini-portfolio .tag {
  color: #cacaca;
  display: block;
  margin-bottom: 20px;
}
/* TESTIMONIAL CAROUSEL STYLING
-------------------------------------------------- */
#testimonial-carousel {
  height: 500px;
}
#testimonial-carousel .carousel-caption {
  z-index: 10;
}
#testimonial-carousel .item {
  height: 500px;
  background-color: #4a4a4a;
}
#testimonial-carousel .carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
/* SERVICES STYLING
-------------------------------------------------- */
.services {
  padding: 36px 0;
}
.services .line-graph {
  margin-top: 24px;
}
.services .line-graph i {
  padding-right: 5px;
}
.services .line-graph .graph-item .progress {
  margin-top: 10px;
  height: 5px;
  border-radius: 0;
}
.services .line-graph .graph-item .progress-bar {
  background-color: #255a8a;
}
/*  FEATURED STYLING
-------------------------------------------------- */
.featured {
  height: 265px;
  background-image: url(../img/city-overview.jpg);
  text-align: center;
}
/*  FOOTER STYLING
-------------------------------------------------- */
.footer-top {
  background-color: #404041;
  color: white;
  padding: 36px 0;
}
.footer-top .contact-block li {
  margin-bottom: 15px;
  line-height: 18px;
  position: relative;
  padding-left: 24px;
}
.footer-top .contact-block li i {
  display: inline-block;
  width: 24px;
  position: absolute;
  top: 0;
  left: 0;
}
.footer-top .contact-block li span {
  color: #cacaca;
}
.footer-top .contact-block li a {
  color: white;
  -webkit-transition: all 0.1s ease-in-out 0s;
          transition: all 0.1s ease-in-out 0s;
}
.footer-top .contact-block li a:hover {
  color: #6fa7d9;
}
.footer-top .twitter-block li {
  margin-bottom: 15px;
  line-height: 18px;
  position: relative;
  padding-left: 34px;
  padding-right: 10px;
}
.footer-top .twitter-block li a {
  color: #cacaca;
}
.footer-top .twitter-block li .fa-stack {
  position: absolute;
  top: -3px;
  left: 0;
}
.footer-top .twitter-block li .fa-circle {
  color: #255a8a;
}
.footer-top .twitter-block li time {
  color: #cacaca;
  display: block;
  font-size: 10px;
  font-style: italic;
  margin-top: 5px;
}
.footer-top .newsletter-block p {
  margin-bottom: 15px;
  line-height: 18px;
}
.footer-top .newsletter-block .control-label {
  text-indent: -9999px;
}
.footer-top .newsletter-block input {
  display: inline-block;
  border-radius: 0;
  background-color: #4a4a4a;
  box-shadow: none;
  border: none;
  height: 40px;
  color: white;
  width: 185px;
}
.footer-top .newsletter-block button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #255a8a;
  font-size: 14px;
  color: white;
  -webkit-transition: all 0.1s ease-in-out 0s;
          transition: all 0.1s ease-in-out 0s;
}
.footer-top .newsletter-block button:hover {
  color: #255a8a;
  background-color: white;
}
.footer-top .newsletter-block small {
  color: #cacaca;
  display: block;
  font-size: 10px;
  font-style: italic;
  margin-top: 10px;
}
.footer-bottom {
  background-color: #4a4a4a;
  color: white;
  padding: 26px;
}
.footer-bottom p {
  font-size: 12px;
  margin: 10px 0 0;
}
.footer-bottom .follow a {
  color: white;
  font-size: 20px;
  padding: 0 8px;
  -webkit-transition: all 0.1s ease-in-out 0s;
          transition: all 0.1s ease-in-out 0s;
}
.footer-bottom .follow a:hover {
  color: #6fa7d9;
}
/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}
