@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
/* LESS VARIABLES
-------------------------------------------------- */
/* GLOBAL STYLES
-------------------------------------------------- */
body {
  background-color: #ffffff;
  color: #4a4a4a;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42;
}
#wrapper {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  position: relative;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  margin-bottom: 20px;
}
h3,
h4,
h5 {
  color: #255a8a;
}
h1.title span {
  font-weight: 300;
}
h2.title span {
  font-weight: 300;
}
h3.title {
  color: #404041;
  margin-bottom: 36px;
  /* text-transform: uppercase; */
}
h3.title span {
  font-weight: 300;
}
h4 {
  margin-top: 20px;
}
h4.title {
  margin-bottom: 26px;
  /* text-transform: uppercase; */
}
h4.title span {
  font-weight: 300;
}
p {
  margin: 0 10px 10px 0;
  line-height: 24px;
}
a {
  color: #255a8a;
  text-decoration: none;
}
a:hover {
  color: #255a8a;
  text-decoration: none;
}
ul li {
  line-height: 24px;
}
.btn {
  border-radius: 0;
  border: none;
  padding: 20px 48px;
  font-size: 16px;
}
.btn.btn-primary {
  background-color: #255a8a;
}
.btn b {
  font-weight: 600;
}
.drop-cap:first-letter {
  float: left;
  font-size: 70px;
  line-height: 60px;
  padding: 4px 8px 4px 4px;
  margin-right: 6px;
  margin-top: -3px;
  display: inline-block;
  color: #255a8a;
}
.drop-cap.alt:first-letter {
  color: #fff;
  background: #255a8a;
  margin-top: 8px;
  padding: 0 8px 3px 4px;
  border-radius: 0;
}
/* HEADER STYLES
-------------------------------------------------- */
header {
  position: relative;
  z-index: 1000;
}
header #top {
  background-color: #4a4a4a;
  color: white;
  margin: 0 auto;
  padding: 15px 0;
  position: relative;
  -webkit-transition: background 0.1s ease-in-out 0s;
          transition: background 0.1s ease-in-out 0s;
}
header #top .contact {
  padding-top: 2px;
}
header #top .contact address {
  display: inline-block;
  margin: 0;
  font-size: 12px;
  padding: 0 15px 0 5px;
}
header #top .contact a {
  color: white;
  -webkit-transition: all 0.1s ease-in-out 0s;
          transition: all 0.1s ease-in-out 0s;
}
header #top .contact a:hover {
  color: #6fa7d9;
}
header #top .follow span {
  font-size: 12px;
  padding-right: 6px;
  vertical-align: text-top;
}
header #top .follow a {
  color: white;
  font-size: 18px;
  padding: 0 8px;
  -webkit-transition: all 0.1s ease-in-out 0s;
          transition: all 0.1s ease-in-out 0s;
}
header #top .follow a:hover {
  color: #6fa7d9;
}
header .navbar-wrapper {
  background-color: white;
  color: #4a4a4a;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
  height: 110px;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  width: 100%;
  -webkit-transition: background 0.1s ease-in-out 0s;
          transition: background 0.1s ease-in-out 0s;
  -webkit-transition: height 0.5s ease-in-out;
          transition: height 0.5s ease-in-out;
}
header .navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
header .navbar-wrapper .navbar {
  padding-right: 0;
  padding-left: 0;
  border: none;
  background-color: white;
}
header .navbar-wrapper .navbar .container {
  width: auto;
}
header .navbar-wrapper .navbar-toggle {
  background: #f2f3f4;
  border: 1px solid #e3e9e9;
  color: #4a4a4a;
  box-shadow: inset 0 1px 0 #f2f3f4;
  text-shadow: 0 1px 0 #fff;
  margin: 36px 26px 34px;
  -webkit-transition: margin 0.5s ease-in-out;
          transition: margin 0.5s ease-in-out;
  -webkit-transition: background 0.1s ease-in-out 0s;
          transition: background 0.1s ease-in-out 0s;
  padding: 8px 14px 10px;
}
header .navbar-wrapper .navbar-toggle:hover {
  background: #cacaca;
  border: 1px solid #9eadae;
  color: white;
  box-shadow: inset 0 1px 0 #aebbbc;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}
header .navbar-wrapper .navbar-toggle i {
  font-size: 16px;
  vertical-align: middle;
}
header .navbar-wrapper .navbar-default .navbar-collapse,
header .navbar-wrapper .navbar-default .navbar-form {
  border-color: #cacaca;
}
header .navbar-wrapper .navbar-nav {
  margin: 0 -15px;
}
header .navbar-wrapper .navbar-nav > li {
  border-bottom: 1px solid #cacaca;
}
header .navbar-wrapper .navbar-nav > li:last-child {
  border-bottom: none;
}
header .navbar-wrapper .navbar-nav > li > a {
  font-weight: 600;
  background-color: transparent;
  color: #4a4a4a;
  font-size: 16px;
  padding: 13px 18px;
  line-height: 25px;
  /* text-transform: uppercase; */
  -webkit-transition: padding 0.5s ease-in-out;
          transition: padding 0.5s ease-in-out;
}
header .navbar-wrapper .navbar-nav > li.active > a,
header .navbar-wrapper .navbar-nav > li:hover > a {
  background-color: transparent !important;
  color: #255a8a;
}
header .navbar-wrapper .navbar-nav > li > a > .caret {
  margin-top: -5px;
  -webkit-transition: -webkit-transform 0.2s ease-in;
          transition: transform 0.2s ease-in;
}
header .navbar-wrapper .navbar-nav li > a:hover > .caret,
header .navbar-wrapper .navbar-nav > li.open > a > .caret {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  opacity: .9;
  margin-top: -6px;
}
header .navbar-wrapper .navbar-nav > .open > a {
  color: #4a4a4a;
  background-color: white !important;
}
header .navbar-wrapper .navbar-nav .dropdown-menu {
  left: 0;
  border: none;
  padding: 0;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}
header .navbar-wrapper .navbar-nav .dropdown-menu > li > a {
  padding: 13px 18px;
  border-top: 1px solid #cacaca;
}
header .navbar-wrapper .navbar-nav .dropdown-menu > li > a:before {
  content: "- ";
}
header .navbar-wrapper .navbar-brand {
  margin-top: 36px;
  padding: 0;
  -webkit-transition: margin 0.5s ease-in-out;
          transition: margin 0.5s ease-in-out;
}
header .navbar-wrapper .navbar-brand img {
  margin-left: 15px;
  max-height: 44px;
  -webkit-transition: max-height 0.5s ease-in-out;
          transition: max-height 0.5s ease-in-out;
}
/* TITLE BAR STYLING
-------------------------------------------------- */
.title-bar {
  background-color: #f2f3f4;
  margin-bottom: 36px;
  min-height: 50px;
  padding: 20px 0;
  position: relative;
}
.title-bar .breadcrumb {
  background: none;
  margin: 0;
  padding: 0;
}
.title-bar h2 {
  border-bottom: 5px solid #cacaca;
  color: #404041;
  display: inline-block;
  /* font-size: 36px; */
  font-weight: 300;
  margin: 0 0 -25px;
  min-height: 36px;
  line-height: 46px;
  padding: 0 0 16px;
}
/* MAIN CAROUSEL STYLING
-------------------------------------------------- */
#main-carousel {
  height: 500px;
}
#main-carousel .container {
  position: relative;
}
#main-carousel .carousel-caption {
  text-align: left;
  padding-right: 40px;
  left: 0px;
  right: auto;
  bottom: 50px;
}
#main-carousel .carousel-caption h1 {
  font-size: 30px;
  margin-bottom: 36px;
}
#main-carousel .carousel-caption h1 span {
  display: block;
}
#main-carousel .carousel-caption p {
  font-size: 16px;
  margin-bottom: 36px;
}
#main-carousel .carousel-image {
  position: absolute;
  right: 15px;
  left: auto;
  bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 10;
}
#main-carousel .carousel-image .img-1 {
  position: absolute;
  right: 40px;
  bottom: 65px;
  z-index: 11;
  width: 75%;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}
#main-carousel .carousel-image .img-2 {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 12;
  width: 25%;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}
#main-carousel .item {
  height: 500px;
  background-color: #4a4a4a;
}
#main-carousel .carousel-inner > .item > img {
  min-width: 100%;
  height: 500px;
}
#main-carousel .carousel-control {
  display: none;
  width: 5%;
}
/* CTA STYLING
-------------------------------------------------- */
.cta {
  background-color: #f2f3f4;
  padding: 36px 0;
}
.cta h3 {
  margin-top: 0;
}
.cta p {
  font-size: 16px;
}
.cta .btn {
  margin-top: 14px;
}
@media (max-width: 767px) {
  .cta {
    text-align: center;
  }
}
/* MARKETING STYLING
-------------------------------------------------- */
.marketing {
  padding: 36px 0;
  text-align: center;
}
.marketing span {
  display: inline-block;
  min-height: 70px;
  color: #255a8a;
  position: relative;
}
.marketing span .fa-html5 {
  padding-top: 8px;
}
.marketing span .fa-mobile {
  position: absolute;
}
.marketing span .fa-mobile.icon-1 {
  left: -20px;
  top: 5px;
}
.marketing span .fa-mobile.icon-2 {
  left: -3px;
  top: 15px;
}
.marketing span .fa-edit {
  padding-top: 10px;
}
.marketing h3 {
  font-size: 20px;
}
.marketing p {
  margin-right: 10px;
  margin-left: 10px;
}
.marketing a {
  color: #255a8a;
  font-weight: 600;
  font-size: 14px;
}
.marketing a:hover {
  background-color: #f2f3f4;
}
/* MINI PORTFOLIO STYLING
-------------------------------------------------- */
.mini-portfolio {
  background-color: #f2f3f4;
  padding: 36px 0;
}
.mini-portfolio h3 a {
  color: #cacaca;
  -webkit-transition: all 0.1s ease-in-out 0s;
          transition: all 0.1s ease-in-out 0s;
}
.mini-portfolio h3 a:hover {
  color: #4a4a4a;
}
.mini-portfolio h4 {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}
.mini-portfolio .img-overlay {
  background-color: #255a8a;
  display: block;
  position: relative;
  margin-bottom: 20px;
}
.mini-portfolio .img-overlay i {
  color: white;
  display: none;
  font-size: 48px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  margin: auto;
  width: 42px;
  height: 44px;
}
.mini-portfolio .img-overlay:hover img {
  opacity: .5;
}
.mini-portfolio .img-overlay:hover i {
  display: block;
}
.mini-portfolio .tag {
  color: #cacaca;
  display: block;
  margin-bottom: 20px;
}
/* TESTIMONIAL CAROUSEL STYLING
-------------------------------------------------- */
#testimonial-carousel {
  height: 500px;
  background: -webkit-linear-gradient(rgba(30, 35, 41, 0.7), rgba(30, 35, 41, 0.7)), url(../img/presentation.jpg) 50% 0 repeat-y fixed;
  background: linear-gradient(rgba(30, 35, 41, 0.7), rgba(30, 35, 41, 0.7)), url(../img/presentation.jpg) 50% 0 repeat-y fixed;
  background-size: cover;
  padding: 36px 0;
  text-align: center;
}
#testimonial-carousel .carousel-inner .carousel-caption {
  z-index: 10;
  bottom: 140px;
}
#testimonial-carousel .carousel-inner .item {
  height: 500px;
  opacity: 0;
  -webkit-transition-property: opacity;
          transition-property: opacity;
}
#testimonial-carousel .carousel-inner .item h2 {
  font-weight: 300;
  margin-bottom: 30px;
  font-size: 24px;
}
#testimonial-carousel .carousel-inner .item .rating {
  margin-bottom: 30px;
}
#testimonial-carousel .carousel-inner .item .client {
  font-size: 22px;
  line-height: 28px;
  /* text-transform: uppercase; */
  margin-bottom: 10px;
}
#testimonial-carousel .carousel-inner .item .title {
  font-style: italic;
}
#testimonial-carousel .carousel-inner .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
#testimonial-carousel .carousel-inner .active {
  opacity: 1;
}
#testimonial-carousel .carousel-inner .active.left,
#testimonial-carousel .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
#testimonial-carousel .carousel-inner .next.left,
#testimonial-carousel .carousel-inner .prev.right {
  opacity: 1;
}
#testimonial-carousel .carousel-control {
  z-index: 2;
}
/* SERVICES STYLING
-------------------------------------------------- */
.services {
  padding: 36px 0;
}
.services .line-graph {
  margin-top: 24px;
}
.services .line-graph i {
  padding-right: 5px;
}
.services .line-graph .graph-item .progress {
  margin-top: 10px;
  height: 5px;
  border-radius: 0;
}
.services .line-graph .graph-item .progress-bar {
  background-color: #255a8a;
}
.services .line-graph .graph-item .animated-bar {
  -webkit-transition: width 0.8s ease-in-out;
          transition: width 0.8s ease-in-out;
}
/*  FEATURED STYLING
-------------------------------------------------- */
.featured {
  color: white;
  min-height: 265px;
  background: -webkit-linear-gradient(rgba(37, 90, 138, 0.8), rgba(37, 90, 138, 0.8)), url(../img/city-overview.jpg) 50% 0 repeat-y fixed;
  background: linear-gradient(rgba(37, 90, 138, 0.8), rgba(37, 90, 138, 0.8)), url(../img/city-overview.jpg) 50% 0 repeat-y fixed;
  background-size: cover;
  padding: 36px 0;
  text-align: center;
}
.featured h2 {
  font-weight: 300;
  margin-bottom: 30px;
}
.featured p {
  font-size: 16px;
}
/*  FEATURED STYLING
-------------------------------------------------- */
.fontawesome-icon-list {
  margin-top: 26px;
}
.fontawesome-icon-list [class*="col-md-"] {
  height: 25px;
}
.bootstrap-grid .grid-block {
  background-color: #EEE;
  line-height: 40px;
  min-height: 40px;
  text-align: center;
  border: 1px solid #FFF;
  display: block;
}
.animated.repeat {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}
.animated.repeat:hover,
.animated.repeat .clicked {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
/*  FOOTER STYLING
-------------------------------------------------- */
footer {
  margin-top: 26px;
}
footer .footer-top {
  background-color: #404041;
  color: white;
  padding: 36px 0;
}
footer .footer-top h4 {
  color: white;
}
footer .footer-top .contact-block li {
  margin-bottom: 15px;
  line-height: 18px;
  position: relative;
  padding-left: 24px;
}
footer .footer-top .contact-block li i {
  display: inline-block;
  width: 24px;
  position: absolute;
  top: 0;
  left: 0;
}
footer .footer-top .contact-block li span {
  color: #cacaca;
}
footer .footer-top .contact-block li a {
  color: white;
  -webkit-transition: all 0.1s ease-in-out 0s;
          transition: all 0.1s ease-in-out 0s;
}
footer .footer-top .contact-block li a:hover {
  color: #6fa7d9;
}
footer .footer-top .twitter-block {
  margin-top: 36px;
}
footer .footer-top .twitter-block li {
  margin-bottom: 15px;
  line-height: 18px;
  position: relative;
  padding-left: 34px;
  padding-right: 10px;
}
footer .footer-top .twitter-block li a {
  color: #cacaca;
}
footer .footer-top .twitter-block li .fa-stack {
  position: absolute;
  top: -3px;
  left: 0;
}
footer .footer-top .twitter-block li .fa-circle {
  color: #255a8a;
}
footer .footer-top .twitter-block li time {
  color: #cacaca;
  display: block;
  font-size: 10px;
  font-style: italic;
  margin-top: 5px;
}
footer .footer-top .newsletter-block {
  margin-top: 36px;
}
footer .footer-top .newsletter-block p {
  margin-bottom: 15px;
  line-height: 18px;
}
footer .footer-top .newsletter-block .control-label {
  text-indent: -9999px;
}
footer .footer-top .newsletter-block input {
  display: inline-block;
  border-radius: 0;
  background-color: #4a4a4a;
  box-shadow: none;
  border: none;
  height: 40px;
  color: white;
  width: 175px;
}
footer .footer-top .newsletter-block button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  -webkit-transition: all 0.1s ease-in-out 0s;
          transition: all 0.1s ease-in-out 0s;
}
footer .footer-top .newsletter-block button:hover {
  color: #255a8a;
  background-color: white;
}
footer .footer-top .newsletter-block small {
  color: #cacaca;
  display: block;
  font-size: 10px;
  font-style: italic;
  margin-top: 10px;
}
footer .footer-bottom {
  background-color: #4a4a4a;
  color: white;
  padding: 26px;
  text-align: center;
}
footer .footer-bottom p {
  font-size: 12px;
  margin: 10px 0 0;
}
footer .footer-bottom .follow {
  margin-top: 20px;
  width: 100%;
}
footer .footer-bottom .follow a {
  color: white;
  font-size: 20px;
  padding: 0 8px;
  -webkit-transition: all 0.1s ease-in-out 0s;
          transition: all 0.1s ease-in-out 0s;
}
footer .footer-bottom .follow a:hover {
  color: #6fa7d9;
}
/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
  header .navbar-wrapper .navbar-default {
    background-color: transparent;
  }
  header .navbar-wrapper .navbar-nav > li {
    border-bottom: none;
  }
  header .navbar-wrapper .navbar-nav > li > a {
    border-bottom: 5px solid white;
    font-weight: 400;
    padding: 40px 0;
    margin: 0 18px;
  }
  header .navbar-wrapper .navbar-nav > li.active > a {
    border-bottom-color: #255a8a;
  }
  header .navbar-wrapper .navbar-nav .dropdown-menu {
    left: 18px;
    border: none;
    border-radius: 0;
    border-top: 5px solid #255a8a;
    margin-top: -5px;
    padding: 0;
    width: 200px;
  }
  header .navbar-wrapper .navbar-nav .dropdown-menu > li > a {
    padding: 13px 18px;
    border-bottom: 1px solid #cacaca;
    border-top: none;
  }
  header .navbar-wrapper .navbar-nav .dropdown-menu > li > a:before {
    display: none;
  }
  header .navbar-wrapper .navbar-nav .dropdown-menu > li > a:hover,
  header .navbar-wrapper .navbar-nav .dropdown-menu > li > a:focus {
    background-color: #f2f3f4;
    color: #255a8a;
  }
  header .navbar-wrapper .navbar-nav li.dropdown:hover .dropdown-menu {
    display: block;
  }
  header .navbar-wrapper.stuck {
    position: fixed;
    top: 0;
  }
  header.shrink-header .navbar-wrapper {
    height: 72px;
  }
  header.shrink-header .navbar-wrapper .navbar-toggle {
    margin-top: 14px;
    margin-bottom: 14px;
  }
  header.shrink-header .navbar-wrapper .navbar-brand {
    margin-top: 20px;
  }
  header.shrink-header .navbar-wrapper .navbar-brand img {
    max-height: 34px;
  }
  header.shrink-header .navbar-wrapper .navbar-nav > li > a {
    padding: 21px 0;
  }
  #main-carousel:hover .carousel-control {
    display: block;
  }
  #testimonial-carousel .item h2 {
    font-size: 30px !important;
    line-height: 36px;
  }
  .footer-top .twitter-block,
  .footer-top .newsletter-block {
    margin-top: 0;
  }
  .footer-bottom {
    text-align: left;
  }
  .footer-bottom .follow {
    margin: 0;
    width: auto;
  }
}
@media (min-width: 992px) {
  #main-carousel .carousel-caption h1 {
    font-size: 36px;
    line-height: 48px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #main-carousel .carousel-image {
    bottom: 100px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  #main-carousel .carousel-image {
    bottom: 60px;
  }
}
