@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

/* LESS VARIABLES
-------------------------------------------------- */
@body-bg: #FFFFFF;
@gray: #4A4A4A;
@gray-lighter: #F2F3F4;
@gray-light: lighten(@gray, 50%);
@gray-dark: #404041;
@brand-primary: #255A8A;
@brand-primary-light: lighten(@brand-primary,30%);
@font-family-base: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-size-base: 14px;
@font-size-small: ceil((@font-size-base * 0.85));	// 12px
@font-size-medium: ceil((@font-size-base * 1.125)); // 16px
@font-size-large: ceil((@font-size-base * 1.25));   // 18px
@font-weight-base: 400;
@line-height-base: 1.42;
@link-color: @brand-primary;

@section-padding: 36px 0;
@tras-all-fast: all .1s ease-in-out 0s;
@grid-float-breakpoint: 768px;

@screen-xs-max: 767px;
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;


/* GLOBAL STYLES
-------------------------------------------------- */

body {
	background-color: @body-bg;
	color: @gray;
	font-family: @font-family-base;
	font-size: @font-size-base;
	font-weight: @font-weight-base;
	line-height: @line-height-base;
}

#wrapper {
	backface-visibility: hidden;
	overflow: hidden;
	position: relative;
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: @font-family-base;
	font-style: normal;
}

h2.title {
	
	span {
		font-weight: 300;
	}
}

h3.title {
	font-size: 20px;
	padding-bottom: 26px;
	text-transform: uppercase;
	
	span {
		font-weight: 300;
	}
}

h4.title {
	padding-bottom: 26px;
	text-transform: uppercase;
	
	span {
		font-weight: 300;
	}
}

p {
	margin: 0 10px 10px 0;
}

a {
	color: @link-color;
	text-decoration: none;
}

a:hover {
	color: @link-color;
	text-decoration: none;
}

.btn {
	border-radius: 0;
	border: none;
	padding: 20px 48px;
	font-size: @font-size-medium;
	
	&.btn-primary {
		background-color: @brand-primary;
	}
	
	b {
		font-weight: 600;
	}
}

/* HEADER STYLES
-------------------------------------------------- */

header {
	position: relative;
	z-index: 1000;
	
	#top {
		background-color: @gray;
		color: white;
		margin: 0 auto;
		padding: 15px 0;
		position: relative;
		transition: background .1s ease-in-out 0s;
		
		.contact {	
			padding-top: 2px;
			
			address {
				display: inline-block;
				margin: 0;
				font-size: @font-size-small;
				padding: 0 15px 0 5px;
			}
			a {
				color: white;
				transition: @tras-all-fast;
			}
			
			a:hover {
				color: @brand-primary-light;
			}
		}	
		
		.follow {
			span {
				font-size: @font-size-small;
				padding-right: 6px;
				vertical-align: text-top;
			}
			a {
				color: white;
				font-size: @font-size-large;
				padding: 0 8px;
				transition: @tras-all-fast;
			}
			
			a:hover {
				color: @brand-primary-light;
			}
		}
	}
	
	.navbar-wrapper {
		background-color: white;
		color: @gray;
		box-shadow: 0 1px 15px rgba(0,0,0,.1);
		height: 108px;
		position: relative;
		transform: translate3d(0,0,0);
		width: 100%;
		transition: background .1s ease-in-out 0s;
		transition: height .5s ease-in-out;
		
		
		> .container {
		  padding-right: 0;
		  padding-left: 0;
		}
		
		.navbar {
		  padding-right: 15px;
		  padding-left: 15px;
		  border: none;
		  background-color: white;
		}
		
		.navbar .container {
		  width: auto;
		}
		
		.navbar-toggle {
			background: @gray-lighter;
			border: 1px solid #e3e9e9;
			color: @gray;
			box-shadow: inset 0 1px 0 @gray-lighter;
			text-shadow: 0 1px 0 #fff;
			margin: 36px 16px 34px;
			transition: margin .5s ease-in-out;
			transition: background .1s ease-in-out 0s;
			padding: 8px 14px 10px;
			
			&:hover {
				background: @gray-light;
				border: 1px solid #9eadae;
				color: white;
				box-shadow: inset 0 1px 0 #aebbbc;
				text-shadow: 0 -1px 0 rgba(0,0,0,.1);
			}	
			
			i {
				font-size: 16px;
				vertical-align: middle;
			}
			
		}
		
		.navbar-brand {
			margin-top: 32px;
			padding: 0;
			
			img {
				max-height: 44px;
				transition: max-height .5s ease-in-out;
			}
		}
		
		.navbar-nav {
			
			> li > a {
				text-transform: uppercase;
				color: @gray;
				font-size: @font-size-medium;
				padding: 40px 15px;
				line-height: 1.5;
				transition: padding .5s ease-in-out;
			}
			
			li.active > a, li > a:hover, li > a:focus, > .open > a, > .active > a {
				background-color: transparent !important;
				border-bottom: 5px solid @brand-primary;
				color: @brand-primary;
			}
			
			li > a > .caret {
				margin-top: -5px;
				transition: transform .2s ease-in;
			}
			
			li > a:hover > .caret {
				transform: rotate(-90deg);
				opacity: .9;
				margin-top: -6px;
			}
			
		}
		
		&.stuck {		
				position: fixed;
				top: 0;
		}

	}	
	
	&.shrink-header {
	
		.navbar-wrapper {
			height: 70px;
			
			.navbar-toggle {
				margin-top: 14px;
				margin-bottom: 14px;
			}
			
			.navbar-brand {
				margin-top: 20px;
				
				img {
					max-height: 34px;
				}
			}
			
			.navbar-nav > li > a {
				padding: 21px 15px;
			}	
		}
		
	}
}

/* MAIN CAROUSEL STYLING
-------------------------------------------------- */
#main-carousel {
	height: 500px;
	
	.container {
		position: relative;
	}

	.carousel-caption {
		text-align: left;
		padding-right: 40px;
		left: 0px;
		right: auto;
		bottom: 50px;
		
		h2 {
			line-height: 40px;
			margin-bottom: 36px;
			
			span {
				display: block;
			}
		}
		
		p {
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 36px;
		}
	}
	
	.carousel-image {
		position: absolute;
		right: 15px;
		left: auto;
		bottom: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
		z-index: 10;
		
		.img-1 {
			position: absolute;
			right: 40px;
			bottom: 65px;
			z-index: 11;
		}
		
		.img-2 {
			position: absolute;
			right: 0px;
			bottom: 0px;
			z-index: 12;
		}
	}
	
	.items > img {
		min-width: 100%;
	}
	
	.item {
		height: 500px;
		background-color: @gray;
	}
	
	.carousel-inner > .item > img {
		position: absolute;
		top: 0;
		left: 0;
		min-width: 100%;
		height: 500px;
	}
	
	.carousel-control {
		display: none;
	}
}	

/* CTA STYLING
-------------------------------------------------- */
.cta {
	background-color: @gray-lighter;
	padding: @section-padding;
	
	h3 {
		margin-top: 0;
	}
	
	p {
		font-size: @font-size-medium;
	}
	
	.btn {
		margin-top: 14px;
	}
	
	@media (max-width: @screen-xs-max) {
		text-align: center;
	}

}

/* MARKETING STYLING
-------------------------------------------------- */
.marketing {
	padding: @section-padding;
	text-align: center;
	
	span {
		display: inline-block;
		min-height: 70px;
		color: @brand-primary;
		position: relative;
		
		.fa-html5 {
			padding-top: 8px;
		}
		
		.fa-mobile {
			position: absolute;
			
			&.icon-1 {
				left: -20px;
				top: 5px;
			}
			
			&.icon-2 {
				left: -3px;
				top: 15px;
			}
		}
		
		.fa-edit {
			padding-top: 10px;
		}
	}
	
	h3 {
		font-size: 20px;
	}
	
	p {
		line-height: 24px;
		margin-right: 10px;
		margin-left: 10px;
	}
	
	a {
		color: @brand-primary;
		font-weight: 600;
		font-size: @font-size-base;
		
		&:hover {
			background-color: @gray-lighter;
		}
	}
}	

/* MINI PORTFOLIO STYLING
-------------------------------------------------- */
.mini-portfolio {
	background-color: @gray-lighter;
	padding: @section-padding;
	
	h3 {
		
		a {
			color: @gray-light;
			transition: @tras-all-fast;
		}
		a:hover {
				color: @gray;
		}	
	}
	
	h4 {
		font-weight: bold;
		font-size: @font-size-medium;
		margin-bottom: 5px;
	}
	
	.img-overlay {
		background-color: @brand-primary;
		display: block;
		position: relative;
		margin-bottom: 20px;
		
		i {
			color: white;
			display: none;
			font-size: 48px;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			margin: auto;
			width: 42px;
			height: 44px;
		}
		
		&:hover {
			img {
				opacity: .5;
			}
			
			i {
				display: block;
			}
		}
		
	}
	
	.tag {
		color: @gray-light;
		display: block;
		margin-bottom: 20px;
	}	

}

/* TESTIMONIAL CAROUSEL STYLING
-------------------------------------------------- */
#testimonial-carousel {
	height: 500px;
	background: 
		linear-gradient(
	      rgba(30, 35, 41, 0.7), 
	      rgba(30, 35, 41, 0.7)
	    ), 
		url(../img/presentation.jpg) 50% 0 repeat-y fixed;	
	background-size: cover;
	padding: @section-padding;
	text-align: center;
	
	.carousel-inner {

		.carousel-caption {
			z-index: 10;
			bottom: 140px;
		}
		
		.item {
			height: 500px;
			opacity: 0;
			transition-property: opacity;
			
			h2 {
				font-weight: 300;
				margin-bottom: 30px;
			}
			
			.rating {
				margin-bottom: 30px;
			}
			
			.client {
				font-size: 18px;
				line-height: 24px;
				text-transform: uppercase;
				margin-bottom: 10px;
			}
			
			.title {
				font-style: italic;
			}
		
			> img {
				position: absolute;
				top: 0;
				left: 0;
				min-width: 100%;
				height: 500px;
			}
		}
		
		.active {
			opacity: 1;
		}
		
		.active.left,
		.active.right {
			left: 0;
			opacity: 0;
			z-index: 1;
		}
		
		.next.left,
		.prev.right {
			opacity: 1;
		}
	}
	
	.carousel-control {
		z-index: 2;
	}

  
}


/* SERVICES STYLING
-------------------------------------------------- */
.services {
	padding: @section-padding;
	
	.line-graph {
		margin-top: 24px;
		
		i {
			padding-right: 5px;
		}
		
		.graph-item{
			
			.progress {
				margin-top: 10px;
				height: 5px;
				border-radius: 0;
			}
			
			.progress-bar {
				background-color: @brand-primary;
			}
		}
	}
}

/*  FEATURED STYLING
-------------------------------------------------- */
.featured {
	
	color: white;
	min-height: 265px;
	background: 
		linear-gradient(
	      rgba(37, 90, 138, 0.8), 
	      rgba(37, 90, 138, 0.8)
	    ), 
		url(../img/city-overview.jpg) 50% 0 repeat-y fixed;	
	background-size: cover;
	padding: @section-padding;
	text-align: center;
	
	h2 {
		font-weight: 300;
		margin-bottom: 30px;
	}
	
	p {
		font-size: @font-size-medium;
		line-height: 24px;
	}
	
}


/*  FOOTER STYLING
-------------------------------------------------- */
.footer-top {
	background-color: @gray-dark;	
	color: white;
	padding: @section-padding;
	
	.contact-block {
		
		li {
			margin-bottom: 15px;
			line-height: 18px;
			position: relative;
			padding-left: 24px;
			
			i {
				display: inline-block;
				width: 24px;
				position: absolute;
				top: 0;
				left: 0;
			}
			
			span {
				color: @gray-light;
			}
			
			a {
				color: white;
				transition: @tras-all-fast;
			}
			
			a:hover {
				color: @brand-primary-light;
			}
		}	
	}
	
	.twitter-block {
		
		li {
			margin-bottom: 15px;
			line-height: 18px;
			position: relative;
			padding-left: 34px;
			padding-right: 10px;
			
			a {
				color: @gray-light;
			}
			
			.fa-stack {
				position: absolute;
				top: -3px;
				left: 0;
			}
			
			.fa-circle {
				color: @brand-primary;
			}
			
			time {
				color: @gray-light;
				display: block;
				font-size: 10px;
				font-style: italic;
				margin-top: 5px;
			}
		}
	}
	
	.newsletter-block {
		
		p {
			margin-bottom: 15px;
			line-height: 18px;
		}
		
		.control-label {
			text-indent: -9999px;
		}
		
		input {
			display: inline-block;
			border-radius: 0;
			background-color: @gray;
			box-shadow: none;
			border: none;
			height: 40px;
			color: white;
			width: 185px;
		}
		
		button {
			display: inline-block;
			padding: 10px 20px;
			font-size: @font-size-base;
			transition: @tras-all-fast;
			
			&:hover {
				color: @brand-primary;
				background-color: white;
			}
		}
		
		small {
			color: @gray-light;
			display: block;
			font-size: 10px;
			font-style: italic;
			margin-top: 10px;
		}
	}
	
}

.footer-bottom {
	background-color: @gray;	
	color: white;
	padding: 26px;
	
	p {
		font-size: @font-size-small;
		margin: 10px 0 0;
	}
	
	.follow {
		a {
			color: white;
			font-size: 20px;
			padding: 0 8px;
			transition: @tras-all-fast;
		}
		
		a:hover {
			color: @brand-primary-light;
		}
	}
}


















/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {


  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}

